/* main text color #757575  */
/* secondary text color #212121 */
/* main white color #FFFFFF */
/* secondary white color: rgba(255, 255, 255, 0.6) */
/* accent color #2196F3 */
/* logo color #000000 */
/* background color #2F303A */
/* bottom background color #F5F4FA */

:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --main-white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --accent-color: #2196f3;
  --secondary-background-color: #2f303a;
  --bottom-background-color: #f5f4fa;
  --between-containers-distance: 94px;
  --between-li-distance: 30px;
}

body {
  font-family: "Roboto", sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  color: var(--main-text-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*---------------------Header section--------------------- */
.page-header {
  border-bottom: 1px solid #ececec;
}

.nav-header {
  display: flex;
}

.header-logo {
  color: var(--logo-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-logo-span-web {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
}

.nav-list-item {
  display: block;
  color: var(--secondary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item:hover,
.nav-list-item:focus {
  color: var(--accent-color);
}

.header-container {
  display: flex;
}

.list-item {
  position: relative;
}

.list-item:not(:last-child) {
  margin-right: 50px;
}

.currentLink {
  color: var(--accent-color);
}

.currentLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  border-bottom: 4px solid var(--accent-color);
  border-radius: 2px;
}
.header-contacts {
  display: flex;
  margin-left: auto;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts-item {
  display: flex;
  color: var(--main-text-color);
  min-width: 122px;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  fill: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-item:hover,
.header-contacts-item:focus {
  color: var(--accent-color);
}

.header-contacts-icon {
  margin-right: 10px;
}

/*---------------------Hero section--------------------- */
.hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/backgroudphoto-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(196, 196, 196, 1);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
}

.hero-btn {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*---------------------Features section--------------------- */
.features {
  display: flex;
}

.features-icon {
  margin-top: 25px;
  margin-bottom: 26px;
}

.features-item:not(:last-child) {
  margin-right: var(--between-li-distance);
}

.feature-div {
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.features-title {
  margin-bottom: 10px;
  width: 270px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/*---------------------Our products section-------------- ------- */
.products-section {
  padding-top: 0px;
}

.products-title {
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}
.products {
  display: flex;
}

.products-item-box {
  position: relative;
}
.products-item:not(:last-child) {
  margin-right: var(--between-li-distance);
}
.products-text-box {
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

/*---------------------Our team section--------------------- */
.team-section {
  background-color: var(--bottom-background-color);
}

.team-section-title {
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: var(--between-li-distance);
}

.team-title-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-item:not(:last-child) {
  margin-right: 10px;
}

.team-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  fill: var(--main-white-color);
}

/*---------------------Customers section--------------------- */
.customets-section-title {
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.customers-list {
  display: flex;
}

.customers-item-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item-link:hover,
.customers-item-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.customers-item:not(:last-child) {
  margin-right: var(--between-li-distance);
}

/*---------------------Footer section--------------------- */

.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.div-footer {
  flex-grow: 1;
}

.footer-logo {
  display: block;
  color: var(--main-white-color);
  /* margin-right: auto; */
  margin-bottom: 20px;
}

.footer-logo-span-web {
  color: var(--accent-color);
}

address {
  font-style: normal;
}

.footer-contacts-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-white-color);
  display: flex;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-item:hover,
.footer-contacts-item:focus {
  color: var(--accent-color);
}

.footer-contacts li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts .street {
  color: var(--main-white-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-social {
  margin-left: 70px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--main-white-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-mailing {
  margin-left: 93px;
  display: flex;
}

.footer-mailing-box {
  display: flex;
  flex-direction: column;
}

.footer-mailing-box > input {
  display: block;
  border: 0;
  padding-left: 16px;
  margin-right: 12px;
  color: var(--main-white-color);
}

#footer-mailing-form {
  background-color: var(--secondary-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
}

.footer-mailing-btn {
  display: flex;
  align-items: center;
  height: 50px;
  width: 200px;
  align-self: end;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  padding-left: 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.icon-send {
  margin-left: 10px;
  fill: var(--main-white-color);
}
/*---------------------Portfolio section--------------------- */

.porfolio-filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.porfolio-filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--bottom-background-color);
  color: var(--secondary-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  transition-property: outline, background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--main-white-color);
  box-shadow: 0px 2px 2px 0px #0000001f;
  box-shadow: 0px 1px 2px 0px #00000014;
  box-shadow: 0px 3px 1px 0px #0000001a;
}
.portfolio-img-box {
  position: relative;
  overflow: hidden;
}

.portfolio-img-text {
  position: absolute;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2196f3e5;
  left: 0;
  bottom: 0;
  /* Выезд текста */
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.portfolio-item-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.portfolio-title-type {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--between-li-distance));
  margin-left: calc(-1 * var(--between-li-distance));
}

.portfolio-item {
  flex-basis: calc(100% / 3 - var(--between-li-distance));
  margin-top: var(--between-li-distance);
  margin-left: var(--between-li-distance);
}

.portfolio-item-link {
  display: block;
  box-sizing: border-box;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-link:hover .portfolio-img-text,
.portfolio-item-link:focus .portfolio-img-text {
  display: block;
  transform: translateY(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img-box {
  position: relative;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
}

.backdrop-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.backdrop-item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.backdrop-item-input,
.backdrop-item-label,
.backdrop-item-textarea {
  margin: 0;
  padding: 0;
  border: 0;
}

.icon-backdrop {
  position: absolute;
  left: 12px;
  bottom: 11px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-item:not(:first-child) {
  margin-top: 10px;
}

.backdrop-item:last-child {
  display: flex;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.backdrop-item:nth-child(1) > input,
.backdrop-item:nth-child(2) > input,
.backdrop-item:nth-child(3) > input {
  height: 40px;
}

.backdrop-item-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.backdrop-item-input {
  margin-top: 4px;
  padding-left: 40px;
  border-radius: 4px;
  color: var(--main-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  fill: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-item-input:hover + .icon-backdrop,
.backdrop-item-input:focus + .icon-backdrop,
.backdrop-item-input:hover,
.backdrop-item-input:focus {
  fill: var(--accent-color);
  outline-color: var(--accent-color);
  border-color: var(--accent-color);
}

.backdrop-item-textarea {
  resize: none;
  margin-top: 4px;
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-item-textarea:hover,
.backdrop-item-textarea:focus {
  fill: var(--accent-color);
  outline-color: var(--accent-color);
  border-color: var(--accent-color);
}
.backdrop-item-textarea::placeholder {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-div input {
  margin-top: 0;
  border: 0;
}

.checkbox-text {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.checkbox-text .icons-check {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-backdrop-check {
  position: absolute;
  left: 12px;
  z-index: 2;
  background-color: white;
}

.icon-backdrop-checked {
  z-index: 1;
}
.checkbox-input:checked + .checkbox-text > .icon-backdrop-check {
  opacity: 0;
}

/* .checkbox-input:focus + .checkbox-text div > .icon-backdrop-check {
    opacity: 0;
  } */

.contract-text {
  margin-left: 8px;
}
.contract-link {
  color: var(--accent-color);
}

.backdrop-btn {
  display: block;
  margin: auto;
  margin-top: 30px;
  cursor: pointer;
}

.backdrop.is-hidden .modal {
  transform: scale(0) skewX(-90deg) rotateX(-90deg);
}

.modal {
  padding: 40px;
  margin: auto;
  width: 528px;
  min-height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  transition-duration: 500ms;
  transform: scale(1) skewX(0) rotateX(0);
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--main-white-color);
  fill: var(--logo-color);
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  fill: var(--accent-color);
}

.is-hidden {
  /* задает (не)прозрачность */
  opacity: 0;
  /* запрещает события */
  pointer-events: none;
  /* запрещает фокус */
  visibility: hidden;
}

/* .hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
} */
