.products-section {
  @extend %section;
  padding-top: 0px;
}

.products-container {
  @extend %container;
}
.products-section-title {
  @extend %section-title;
  color: $secondary-text-color;
  margin-bottom: 50px;
}
.products {
  display: flex;
  @extend %list;
}

.products__item--right {
  margin-right: $between-li-distance;
}

.products__item-wrap {
  position: relative;
}

.products__name-wrap {
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-white-color;
}
